@import-normalize;

.app-root {
  margin: 10px 25px;
  flex: 1 0 400px;
}

.header {
  margin-top: 10px;
  min-height: 25px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.content {
  padding: 10px;
  max-width: 600px;
}
